<th:block th:fragment="modal-del-user">
    <div class="modal fade" id="modal-del-user" tabindex="-1" aria-labelledby="modalLabeldelUser" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabeldelUser">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="text-center fw-bold" id="form-del-user" th:method="DELETE"
                      th:action="@{/admin/{id}(id=${user.getId()})}">
                    <div class="container">
                        <div class="modal-body row justify-content-center align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="userId" class="form-label mb-0">ID</label>
                                    <input type="text" class="form-control" id="userId" disabled/>
                                </div>
                                <div class="mb-3">
                                    <label for="firstName" class="form-label mb-0">First name</label>
                                    <input type="text" class="form-control" id="firstName" disabled/>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label mb-0">Last name</label>
                                    <input type="text" class="form-control" id="lastName" disabled/>
                                </div>
                                <div class="mb-3">
                                    <label for="age" class="form-label mb-0">Age</label>
                                    <input type="number" min="0" max="127" step="1" class="form-control" id="age"
                                           disabled/>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label mb-0">Email</label>
                                    <input type="email" class="form-control" id="email" disabled/>
                                </div>
                                <div class="mb-3">
                                    <label for="roles" class="form-label mb-0">Role</label>
                                    <select class="form-select" multiple size="2" id="roles" disabled name="roles">
                                        <option th:each="role : ${roles}"
                                                th:value="${role.id}"
                                                th:text="${role.getName().replaceFirst('ROLE_', '')}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="del-user">
    <form class="text-center fw-bold" th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}"
          th:object="${user}">
        <div class="mb-3">
            <label for="userId" class="form-label mb-0">ID</label>
            <input type="text" class="form-control" id="userId" disabled th:field="*{id}"/>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label mb-0">First name</label>
            <input type="text" class="form-control" id="firstName" disabled th:field="*{firstName}"/>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label mb-0">Last name</label>
            <input type="text" class="form-control" id="lastName" disabled th:field="*{lastName}"/>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label mb-0">Age</label>
            <input type="number" min="0" max="127" step="1" class="form-control" id="age" disabled th:field="*{age}"/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label mb-0">Email</label>
            <input type="email" class="form-control" id="email" disabled th:field="*{email}"/>
        </div>
        <div class="mb-3">
            <label for="roles" class="form-label mb-0">Role</label>
            <select class="form-select" multiple size="2" id="roles" disabled name="roles">
                <th:block th:each="role : ${roles}">
                    <option th:each="userRole : ${userRoles}"
                            th:value="${role.id}"
                            th:text="${role.getName().replaceFirst('ROLE_', '')}"
                            th:selected="${role.id == userRole.id}"
                    />
                </th:block>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</th:block>